Preprocessing data

In [3]:
import pandas as pd
data = pd.read_csv('BTC-USD.csv')

data = data.dropna() #Delete columns and rows with missing values
data.Date = pd.to_datetime(data.Date) #Convert Date column to datetime
data.set_index('Date', drop=True, inplace=True) #Set Date column as index
diffs = (data.Close.diff()/data.Close).values[1:] #Calculate differences between consecutive values

diff_len = len(diffs) #Length of differences array

In [4]:
data.head(5) #Print first 5 rows of data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-07-04,19297.314453,20258.748047,19063.066406,20231.261719,20231.261719,21594638208
2022-07-05,20225.353516,20635.466797,19341.232422,20190.115234,20190.115234,26715546990
2022-07-06,20194.619141,20595.529297,19823.511719,20548.246094,20548.246094,24598943708
2022-07-07,20547.814453,21771.816406,20296.103516,21637.587891,21637.587891,25814972520
2022-07-08,21637.154297,22314.941406,21257.453125,21731.117188,21731.117188,49899834488